@font-face {
	font-family: 'roboto';
	src: url('fonts/roboto-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'roboto', Arial, sans-serif;
}

.banner__form__container {
	display: flex;
	margin-left: -7px;
	margin-right: -7px;
	margin-top: 10px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], textarea {
	border-radius: 4px;
}

input[type=text].banner__form__name, input[type=tel].banner__form__phone, input[type=email].banner__form__email {
	box-sizing: border-box;
	line-height: 30px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
textarea {
	background: #fff;
	border: 1px solid #ddd;
	color: #333;
	display: block;
	font: 14px 'Roboto-Condensed',Arial;
	margin-bottom: 10px;
	margin-left: 0;
	max-width: 100%;
	padding: 8px 12px;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

.banner__inner {
	background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
	background-blend-mode: normal;
	border: 0px none rgb(255, 255, 255);
	border-radius: 0px;
	border-collapse: separate;
	box-shadow: none;
	outline: rgb(255, 255, 255) none 0px;
	outline-offset: 0px;
	overflow-anchor: auto;
	overflow-wrap: normal;
	overflow: visible;
	padding: 0px;
	box-sizing: border-box;
	min-width: 290px;
	position: relative;
}

.popup {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	padding: 10px;

	display: none;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	background-color: rgba(0,0,0,.85);
}

.popup__inner {
	color: #fff;
	font-size: 16px;
}

.banner form input {
	margin-bottom: 0;
	width: 100%;
}

form .banner__form__item {
	flex: 1 1;
	padding-left: 7px;
	padding-right: 7px;
}
.banner form input {
	margin-bottom: 0;
	width: 100%;
}
 /* Side banner */
.sideBanner {
	max-width: 100%;
	text-align: center;
	color: #fff;
}
.sideBanner__body {
	border-radius: 10px;
	background-image: url(images/sidebanner_img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	line-height: 1.4;
	padding: 15px;
}
.sideBanner__logo {
	text-align: center;
	margin: 10px auto 25px;
	background-image: url(images/skyeng.png);
	background-repeat: no-repeat;
	width: 148px;
	height: 43px;
}
.sideBanner__swapBlock {
	padding: 0 0 20px;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	position: relative;
	height: 160px;
	box-sizing: border-box;
}
.sideBanner__swapItem {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	display: none;
}
.sideBanner__swapItem:before {
	content: '';
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-bottom: 10px;
	background-image: url(images/swapitem_img.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.sideBanner__swapItem_1:before {
	background-position: 0 -81px;
}
.sideBanner__swapItem_2:before {
	background-size: 105%;
	background-position: -2px -171px;
}
.sideBanner__swapItem_3:before {
	background-position: 0px 0px;
}
.sideBanner__swapItem__text {
	font-size: 22px;
	display: flex;
    justify-content: center;
    align-items: center;
	height: 56px;
}
.sideBanner__formText {
	font-size: 20px;
	margin-bottom: 20px;
}
.sideBanner .banner__form__container {
	flex-wrap: wrap;
}
.sideBanner .banner__form__item {
	flex-basis: 100%;
}
.sideBanner .banner__form__item__name,
.sideBanner .banner__form__item__phone {
	margin-bottom: 10px;
	flex-basis: 50%;
    flex: 1 1;
}
.sideBanner .wpcf7-form button {
	margin-top: 10px;
}

input[type=text].banner__form__name,
input[type=tel].banner__form__phone,
input[type=email].banner__form__email{
	box-sizing: border-box;
	line-height: 30px;
}
.banner button,
.entry .banner button,
.banner__form__submit {
	box-sizing: border-box;
	line-height: 46px;
	border: 0;
	border-radius: 4px;
	background-color: #ff3d6f;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 rgba(0, 0, 0, 0.08);
	font-size: 16px;
	color: #fff;
	width: 100%;
	cursor: pointer;

}

.banner button:hover,
.banner__form__submit:hover {
	background-color: #fc5e87;
}
.screen-reader-response {
	display: none;
}
.banner span.wpcf7-not-valid-tip{
	position: relative;
	top: -5px;
	font-size: 14px;
	text-align: left;
	padding: 7px;
}
.banner .wpcf7-not-valid {
	box-shadow: inset 0 0 0 1px #E73525;
	border-color: #E73525;
}
.banner .wpcf7-display-none {
	display: none;
}
.popupBannerWrap.visible {
	display: block;
}
body.home .popupBannerWrap {
	display:none;
}

input.parsley-error {
	border: 1px solid #ff3d6f;
	background-color: #ffc1d1;
}

.parsley-error::-webkit-input-placeholder {
	 color: black;
 }

.parsley-error:-moz-placeholder { /* Firefox 18- */
	 color: black;
 }

.parsley-error::-moz-placeholder {  /* Firefox 19+ */
	 color: black;
 }

.parsley-error:-ms-input-placeholder {
	 color: black;
 }

