/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body, html {
  height: 100%;
  font-size: 14px;
  font-family: "open-sans", "Trebuchet MS", Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.ovh {
  overflow: hidden; }

@font-face {
  font-family: 'open-sans';
  src: url("fonts/open_sans/open_sans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'open-sans';
  src: url("fonts/open_sans/open_sans-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'open-sans';
  src: url("fonts/open_sans/open_sans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

.h1 {
  font-weight: 700; }

.h2, .h3, .h4 {
  font-weight: 600; }

.h1 {
  margin-bottom: 25px;
  line-height: normal;
  font-size: calc(25.3125px + 1.5625vw); }
  @media (min-width: 600px) {
    .h1 {
      margin-bottom: 55px; } }
  @media (min-width: 1260px) {
    .h1 {
      font-size: 45px; } }

.h2 {
  line-height: normal;
  font-size: calc(34.5px + 0.83333vw); }
  @media (min-width: 1260px) {
    .h2 {
      font-size: 45px; } }

.h3 {
  margin-bottom: 25px;
  font-size: calc(25.4375px + 0.52083vw);
  line-height: normal; }
  @media (min-width: 600px) {
    .h3 {
      margin-bottom: 55px; } }
  @media (min-width: 1260px) {
    .h3 {
      font-size: 32px; } }

.h4 {
  margin-bottom: 25px;
  font-size: 25px;
  line-height: normal; }

.h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; }

.h6 {
  font-size: 17px;
  font-weight: 600;
  line-height: 30px; }
  @media (min-width: 600px) {
    .h6 {
      font-size: 20px; } }

.layer10 {
  z-index: 10; }

.app-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100%; }
  @media (min-width: 1260px) {
    .app-wrapper {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.button {
  line-height: normal;
  text-decoration: none;
  border-bottom: 1px solid;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 11px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ffda00;
  text-align: center;
  cursor: pointer; }
  .button:hover {
    background-color: #ffe54d; }
  .button:focus {
    outline: none; }
  * + .button {
    margin-top: 20px; }
  @media (min-width: 600px) {
    .button {
      max-width: 260px;
      padding-left: 15px;
      padding-right: 15px; }
      * + .button {
        margin-left: 20px;
        margin-top: 0; } }
  .button--bg-blue {
    background-color: #3075f3; }
    .button--bg-blue:hover, .button--bg-blue:focus {
      background-color: #5990f4; }
  .button--width-full {
    width: 100%; }
  .button__text {
    color: black;
    font-size: 19px;
    font-weight: 600; }
  .button__icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    fill: #fff; }
    * + .button__icon {
      margin-left: 10px; }

.cards__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (min-width: 900px) {
    .cards__list {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }

.cards__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px; }
  .cards__item:first-child {
    padding-top: 0; }
  .cards__item:last-child {
    padding-bottom: 0; }
  .cards__item + .cards__item:after {
    position: absolute;
    display: block;
    content: '';
    bottom: calc(100% - 9px);
    right: calc(50% - 5px);
    width: 10px;
    height: 18px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background-image: url("images/arrow.svg");
    background-position: center;
    background-repeat: no-repeat; }
  @media (min-width: 900px) {
    .cards__item {
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 40px;
      padding-left: 40px; }
      .cards__item:first-child {
        padding-left: 0px; }
      .cards__item:last-child {
        padding-right: 0; }
      .cards__item + .cards__item:after {
        position: absolute;
        display: block;
        content: '';
        top: calc(50% - 9px);
        right: calc(100% - 5px);
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg); } }

.cards__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 30px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  -webkit-transition: background-color 0.5s, -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: background-color 0.5s, -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, transform 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s, -webkit-transform 0.5s; }
  @media (min-width: 1260px) {
    .cards__inner {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }
  .cards__inner--bg-gray {
    background-color: #f9f9f9; }
    .cards__inner--bg-gray:hover {
      -webkit-box-shadow: 0 0 0 2px #ffda00;
              box-shadow: 0 0 0 2px #ffda00;
      background-color: white;
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px); }

.cards__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin-bottom: 25px; }
  @media (min-width: 1260px) {
    .cards__icon {
      margin-right: 25px;
      margin-bottom: 0; } }
  .cards__icon--bg-red {
    background-color: #f3513e; }
  .cards__icon--bg-blue {
    background-color: #3075f3; }
  .cards__icon--bg-yellow {
    background-color: #ffda00; }
  .cards__icon--no-indents {
    padding: 0; }

.cards__text-container {
  display: inline-block;
  width: 100%; }
  @media (min-width: 1260px) {
    .cards__text-container {
      width: auto; } }

.cards__text {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  text-align: center; }
  @media (min-width: 1260px) {
    .cards__text {
      width: auto;
      text-align: left; } }

.cards__title {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center; }
  @media (min-width: 1260px) {
    .cards__title {
      width: auto;
      text-align: left; } }

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media (min-width: 600px) {
    .contacts__list {
      padding-left: 0; } }

.contacts__item {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 15px; }
  .contacts__item:last-child {
    margin-bottom: 0; }
  @media (min-width: 600px) {
    .contacts__item {
      margin-bottom: 0; }
      .contacts__item:first-child {
        padding-left: 0px; }
      .contacts__item:last-child {
        padding-right: 0; }
      .contacts__item + .contacts__item:after {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        right: 100%;
        width: 1px;
        height: 100%;
        background-color: #999999; } }

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }

.contacts__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: #999999; }

.contacts__text {
  display: inline-block;
  border-bottom: 1px solid;
  color: #777777;
  font-size: 15px; }

.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px; }
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__copyright {
    width: 100%;
    margin-bottom: 20px;
    color: #777777;
    text-align: center; }
    @media (min-width: 600px) {
      .footer__copyright {
        width: auto;
        margin-bottom: 0;
        text-align: left; } }

.header {
  padding-top: 20px;
  padding-bottom: 20px; }
  .header__inner {
    padding-left: 20px;
    padding-right: 20px; }

.icon {
  display: inline-block; }
  .icon--small {
    width: 15px;
    height: 15px; }

.image {
  display: block; }
  @media (min-width: 600px) {
    .image--hello, .image--ball {
      max-width: none; } }
  .image--hello {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 900px) {
      .image--hello {
        -webkit-transform: translateX(20%);
                transform: translateX(20%); } }
  .image--ball {
    max-width: 80%; }

.input {
  border: none;
  width: 100%;
  padding: 11px 15px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1px #999999;
          box-shadow: 0 0 0 1px #999999;
  font-size: 17px; }
  .input:focus {
    outline: none; }
  .input::-webkit-input-placeholder {
    color: #999999; }
  .input:-moz-placeholder {
    /* Firefox 18- */
    color: #999999; }
  .input::-moz-placeholder {
    /* Firefox 19+ */
    color: #999999; }
  .input:-ms-input-placeholder {
    color: #999999; }
  .input:focus {
    outline-color: transparent;
    -webkit-box-shadow: 0 0 0 1px black;
            box-shadow: 0 0 0 1px black; }
  @media (min-width: 600px) {
    .input {
      max-width: 260px; } }

.input-wrapper {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .input-wrapper--error {
    color: #f3513e; }
    .input-wrapper--error .form__input {
      -webkit-box-shadow: 0 0 0 1px #f3513e;
              box-shadow: 0 0 0 1px #f3513e; }
      .input-wrapper--error .form__input:focus {
        outline-color: transparent;
        -webkit-box-shadow: 0 0 0 1px black;
                box-shadow: 0 0 0 1px black; }
  .input-wrapper__text {
    height: 41px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 13px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s; }
    .input-wrapper__text:empty {
      height: 0;
      overflow: hidden; }

.list {
  padding-left: 25px; }
  .list__item {
    margin-bottom: 30px;
    font-size: 16px; }
    @media (min-width: 600px) {
      .list__item {
        font-size: 17px; } }
    .list__item:last-child {
      margin-bottom: 0; }

.main {
  width: 100%; }

.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 25px;
  padding-left: 25px; }
  .menu__item:first-child {
    padding-left: 0px; }
  .menu__item:last-child {
    padding-right: 0; }
  .menu__item + .menu__item:after {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    right: 100%;
    width: 1px;
    height: 100%;
    background-color: #999999; }

.menu__link {
  display: inline-block;
  height: 27px;
  text-decoration: none; }

.popup {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); }
  .popup__inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto; }
    @media (min-width: 900px) {
      .popup__inner {
        overflow-y: initial; } }
  .popup__body {
    position: relative;
    width: 100%;
    max-width: 930px;
    padding: 50px 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center; }
  .popup__header {
    padding-top: 15px;
    padding-bottom: 20px; }
  .popup__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
    color: #3075f3; }
  .popup__close {
    padding: 0;
    cursor: pointer;
    text-align: center;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 22px;
    height: 22px;
    fill: black;
    -webkit-transition: fill 0.5s;
    transition: fill 0.5s; }
    .popup__close:focus {
      outline: none; }
  .popup__notice {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 16px;
    color: #626262;
    fill: #626262; }
  .popup__row {
    width: 100%; }
    .popup__row--align-inline > * {
      width: 100%; }
    @media (min-width: 600px) {
      .popup__row--align-inline {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }

.preloader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%; }

.loader {
  content: "";
  display: block;
  display: none;
  height: 30px;
  width: 30px;
  border-top: 4px solid rgba(0, 0, 0, 0.8);
  border-left: 4px solid rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  border-right: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  -webkit-animation: rotation 1s infinite linear;
          animation: rotation 1s infinite linear; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

.section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px; }
  @media (min-width: 900px) {
    .section {
      padding-top: 70px;
      padding-bottom: 70px; } }
  .section--indents-none {
    padding-top: 0;
    padding-bottom: 0; }
    @media (min-width: 900px) {
      .section--indents-none {
        padding-top: 0;
        padding-bottom: 0; } }
  .section--bg-yellow {
    background-color: #ffda00; }
  .section--bg-white {
    background-color: #f9f9f9; }
  @media (min-width: 1260px) {
    .section--v-align-center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .section__row {
    position: relative;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (min-width: 900px) {
      .section__row {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .section__row--v-align-center {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .section__column {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .section__column--align-bottom {
      -ms-flex-item-align: end;
          align-self: flex-end; }
  .section__text-container {
    position: relative;
    z-index: 2;
    min-width: 50%;
    padding-top: 25px;
    padding-bottom: 40px; }
    @media (min-width: 900px) {
      .section__text-container {
        padding-top: 70px;
        padding-bottom: 70px; } }
    .section__text-container--align-mobile-center {
      text-align: center; }
      @media (min-width: 900px) {
        .section__text-container--align-mobile-center {
          text-align: left; } }
  .section__image-container {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: block;
    max-width: 100%; }
    @media (min-width: 900px) {
      .section__image-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    .section__image-container--negative-left-small {
      -webkit-transform: translateX(-20%);
              transform: translateX(-20%); }
      @media (min-width: 900px) {
        .section__image-container--negative-left-small {
          -webkit-transform: translateX(-15%);
                  transform: translateX(-15%); } }
    .section__image-container--height-middle {
      margin-top: -100px; }
      @media (min-width: 900px) {
        .section__image-container--height-middle {
          max-height: 300px; } }
  .section__inner {
    position: relative;
    z-index: 2;
    padding-left: 20px;
    padding-right: 20px; }
    .section__inner--align-center {
      text-align: center; }
    .section__inner--m-height-medium {
      min-height: 520px; }
  .section__content {
    padding-top: 40px;
    padding-bottom: 40px; }
    @media (min-width: 900px) {
      .section__content {
        padding-top: 70px;
        padding-bottom: 70px; } }
  .section__title {
    text-align: center; }
    .section__title--align-left {
      text-align: left; }
    @media (min-width: 600px) {
      .section__title--indent-big {
        margin-bottom: 55px; } }

.svg-icon {
  position: relative;
  display: block;
  height: 100%; }

.wrapper {
  max-width: 1125px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.block-on-mobile {
  white-space: nowrap; }
  .block-on-mobile > * {
    display: inline-block;
    vertical-align: middle; }
  @media (max-width: 599px) {
    .block-on-mobile {
      display: block; } }
