// Colors
$primary-brand: #cd665b;

$card-red: #d9544f;
$card-default: #3e4f60;
$card-blue: #7bcad0;

$black: #282c35;
$dark-gray: #3e4453;
$medium-gray: #7685a5;
$light-gray: #d9dde3;
$white: #fff;
$card-border: #ebf2f5;
$sticky-bg: #32465b;

$form-focus: $medium-gray;
$form-valid: #59bc6e;
$form-alert: #eb953f;

// Fonts
$primary-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$secondary-font-family: 'Open Sans', sans-serif;
$primary-font-weight-normal: normal;
$primary-font-weight-bold: bold;
$secondary-font-weight-normal: normal;
$secondary-font-weight-bold: 800;

$paragraph-line-height: 1.65;
$heading-line-height: 1.35;

$body-font-size: 1rem;
$header-font-size-xxl: 3rem;
$header-font-size-xl: 2rem;
$header-font-size-lg: 1.35rem;
$nav-font-size: 0.70rem;
