.site-footer {
  font-size: .85rem;
}

.site-footer__logo {
  display: inline-block;
  width: 140px;
  height: auto;
  vertical-align: middle;
  margin-right: 2px;
}

.site-footer .icon-list > li > a {
  > svg, > svg > path {
    @include transition(all, .15s, ease-in-out);
  }
  &:hover, &:focus {
    > svg > path {
      fill: $primary-brand;
    }
  }
}

.site-footer .link-list {
  list-style: none;
  padding: 0;
  > li > a {
    display: block;
    color: $white;
    font-weight: $primary-font-weight-bold;
    padding-bottom: 6px;
    cursor: pointer;
    &:hover, &:focus {
      color: $primary-brand;
    }
  }
}
