.site-section {
  position: relative;

  &--bg-velvet {
    background: linear-gradient(82.41deg, #9B24DB 0%, #4F16A5 100%);
  }

  &--shift-top {
    transform: translateY(-60px);
  }

  &--horizontal-indents {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__inner {
    & + & {
      padding-top: 80px;
    }
  }

  &__button-area {
    padding-top: 20px;

    @include bp-md {
      padding-top: 40px;
    }

    & > .btn:first-child {
      margin-right: 20px;
    }
  }

  &--size-hero {
    min-height: 100vh;
  }

  &--indents-normal {
    padding-top: 20px;
    padding-bottom: 20px;

    @include bp-md {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &--indents-large {
    padding-top: 50px;
    padding-bottom: 50px;

    @include bp-md {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    @include bp-lg {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }

  &--text-light {
    color: #fff;
  }
}


.site-section-fold {
  @extend .site-section;
  border-bottom: 1px solid $black;
}
.site-section-gradient {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: .15;
  z-index: -1;
}

.overlay-bg {
  z-index: 1;
}

.light-section {
  @extend .site-section;
  color: $medium-gray;
  background-color: $white;
  a {
    &:hover, &:focus {
      color: $dark-gray;
    }
  }
}

.light-gray-section {
  @extend .site-section;
  color: $medium-gray;
  background-color: $light-gray;
  a {
    &:hover, &:focus {
      color: $dark-gray;
    }
  }
}

.dark-section {
  @extend .site-section;
  color: $light-gray;
  background-color: $black;
}
.dark-section__pattern {
  background: url("/assets/img/bg-pattern.svg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}
.dark-section__pattern--alt {
  background: url("/assets/img/bg-pattern-alt.svg") no-repeat center top;
  background-size: cover;
  // background-attachment: fixed;
}

.dark-gray-section {
  @extend .site-section;
  color: $light-gray;
  background-color: $sticky-bg;
}

.primary-brand-section {
  @extend .site-section;
  color: $light-gray;
  background-color: $primary-brand;
  a {
    color: $white;
    &:hover, &:focus {
      color: $black;
    }
  }
}

.section-subtle-gradient {
  &::before {
    @extend .site-section-gradient;
    @include gradient(bottom, top, 45deg, $black, transparent);
  }
}
.section-subtle-gradient-reverse {
  &::before {
    @extend .site-section-gradient;
    @include gradient(bottom, top, -45deg, $black, transparent);
  }
}

.site-mobile {
  overflow: hidden;
}
.site-mobile-img {
  position: relative;
  padding: .25rem;
  margin-top: -13rem;
  > img {
    position: relative;
    bottom: -15rem;
    width: 66.666%;
    height: auto;
    overflow-y: hidden;
    box-shadow: 0 18px 24px rgba(0,0,0, .45);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin: 0 auto;
    @include bp-md {
      border-top-left-radius: 4rem;
      border-top-right-radius: 4rem;
    }
    @include bp-lg {
      border-top-left-radius: 3rem;
      border-top-right-radius: 3rem;
    }
  }
}

.site-plugins-sperator {
  @include bp-lg {
    border-right: 1px solid rgba($medium-gray, .65);
  }
}
.site-plugins__call-out {
  position: relative;
  display: block;
  padding-right: 0;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -1rem;
    display: none;
    width: 6em;
    height: 100%;
    background: url("/assets/img/next-arrow.svg") no-repeat center center;
    background-size: 100%;
    transform: translateY(-50%);
  }
  span {
    display: block;
  }
  h3 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  @include bp-lg {
    &::after {
      display: block;
    }
  }
}
.site-plugins__call-out--img {
  max-width: 336px;
}

.site-games {
  background: url("/assets/img/space-bg.svg") no-repeat center center;
  background-size: cover;
}
.site-games,
.site-games__ships {
  @include bp-lg {
    min-height: 960px;
  }
}
.site-games__ships {
  position: relative;
  display: none;
  @include bp-lg {
    display: block;
  }
}
.site-games__enemy,
.site-games__player-one {
  position: absolute;
  width: 100%;
}
.site-games__enemy {
  top: 8rem;
  left: 3rem;
  max-width: 200px;
  transform: rotate(155deg);
}
.site-games__player-one {
  right: 3rem;
  bottom: 5rem;
  max-width: 250px;
  transform: rotate(-25deg);
}

.site-health__title {
  position: relative;
  padding-bottom: 12px;

  @include bp-md {
    &::after {
      top: 250%;
      padding: 1.5% 4.5%;
    }
  }
}

.site-health__img-has-dots {
  position: relative;
  margin-bottom: 12px;

  &::after {
    content: "";
    top: 50%;
    left: 75%;
    position: absolute;
    display: none;
    background-size: contain;
    background: url("/assets/img/dotted-lines-segment.svg") no-repeat center center;
    padding: 1.5% 32%;
    transform: translateY(-50%);
  }

  @include bp-md {
    &::after {
      display: block;
    }
  }

  &.site-health__img-has-dots--none-after::after {
    display: none;
  }
}
