.site-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow-y: auto;
  font-family: $primary-font-family;
  font-weight: $primary-font-weight-bold;
  color: $light-gray;
  background-color: $black;
  @include transition(all, .5s, ease-in-out);
}

.site-sidebar-nav {
  min-width: 300px;
  padding: 2rem 0;
  @include centerer(absolute);
}

.site-sidebar__nav__logo {
  width: 100%;
  max-width: 220px;
  height: auto;
  font-size: 0;
  padding: 0;
  margin: 0;
}

.site-sidebar-nav-items {
  font-size: 1.45rem;
  padding: 1rem 0;
}

.site-sidebar-nav-item {
  position: relative;
  display: block;
  font-weight: $primary-font-weight-bold;
  margin: 8px 0;
  cursor: pointer;
  span {
    position: relative;
  }
  span::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $primary-brand;
    opacity: 0;
    @include transition(opacity, .15s, ease-in-out);
  }
  &:hover span::after, &:focus span::after {
    opacity: 1;
  }
}

.site-sidebar a {
  color: $white;
}

input[type="checkbox"] {
  &.site-sidebar-checkbox,
  &#site-sidebar-checkbox {
    display: none;
  }
}

.site-sidebar-toggle {
  position: fixed;
  top: 2em;
  right: 2em;
  display: block;
  width: 2rem;
  height: 2rem;
  color: $white;
  text-align: center;
  line-height: 1;

  // padding and margins offset earchother's effects to create a larger clickable area
  // https://stackoverflow.com/a/20327676/3791314
  padding: 2em;
  margin: -2em;

  z-index: 999;
  cursor: pointer;
  @include transition(all, .5s, ease-in-out);
  @include bp-md {
    display: none;
  }
  > span,
  > span::before,
  > span::after {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 6px;
    background-color: $white;
    cursor: pointer;
    @include transition(all, .25s, ease-in-out);
  }
  > span {
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -16px;
  }
  > span::before {
    top: -10px;
  }
  > span::after {
    bottom: -10px;
  }

  &.--toggle-active,
  &:active {
    transform: rotate(180deg);
    > span {
      background-color: transparent;
    }
    > span::before,
    > span::after {
      top: 0;
      background-color: $white;
    }
    > span::before {
      transform: rotate(-45deg);
    }
    > span::after {
      transform: rotate(45deg);
    }
  }

}

/*
#sidebar-checkbox:checked ~ .site-sidebar-toggle {
  color: $white;
  background-color: $black;
  border-color: $gray-dark-1;
}
*/

.wrap, .site-sidebar, .site-sidebar-toggle {
  backface-visibility: hidden;
}

.wrap {
  @include transition(transform, .5s, ease-in-out);
}

#site-sidebar-checkbox:checked {
  + .site-sidebar {
    visibility: visible;
  }
  ~ {
    .site-sidebar, .wrap, .site-header__nav {
      transform: translateX(-100%);
    }
  }
}
